<h2>Available records</h2>

<% if (records.length == 0) { %>
	<p>No patients found.</p>
<% } else { %>

<table class="search_results">
<tbody>
<% for (var i = 0; i < records.length; i++) {
	var record = records[i]; %>
	<tr class="record" <%= record%>>
		<th class="name">
		<%= record.demographics.firstname%> <%= record.demographics.lastname%>
		</th>
		<td class="gender"><%= record.demographics.gender %></td>
		<td class="dob"><%= record.demographics.dob %></td>
		<td class="zip">Zip Code: <%= record.demographics.zipcode %></td>
	</tr>
<% } %>
</tbody>
</table>  
<% } %>
