<h2>Enabled Apps:</h2>
<p>These apps can access any record you open with them.</p>
<ul class="manage_apps">
	<% for (var p = 0; p < enabled_phas.length; p++) { %>
	<% var pha = enabled_phas[p]; %>
    <% if (HIDDEN_APPS.indexOf(pha.id) !== -1) continue;%>
	<li>
		<img class="app_tab_img" src="<%= pha.data.iconURL %>" />
		<button id="remove_app_<%= pha.safeid() %>" type="button">Remove</button>
		<p>
			<strong><%= pha.data.name %></strong><br />
			<%= pha.data.description %>
		</p>
	</li>
	<% } %>
</ul>

<h2>Disabled Apps:</h2>
<ul class="manage_apps">
	<% for (var p = 0; p < disabled_phas.length; p++) { %>
	<% var pha = disabled_phas[p]; %>
    <% if (HIDDEN_APPS.indexOf(pha.id) !== -1) continue;%>
	<li>
		<img class="app_tab_img" src="<%= pha.data.iconURL %>" />
		<button id="add_app_<%= pha.safeid() %>" type="button">Add</button>
		<p>
			<strong><%= pha.data.name %></strong><br />
			<%= pha.data.description %>
		</p>
	</li>
	<% } %>
</ul>
