<div class="results_header">Patient List</div>
<div class="results_sub_header">Click a record to select...</div>

<% if (records.length == 0) { %> No patients found. <% } %>

<ul class='search_results'>
<%  
   var in_developer_data = false;
   for (var i = 0; i < records.length; i++) {
   var record = records[i]; 
   var sample_data = sample_patient_descriptions[record.record_id];
   if (sample_data === undefined) {
       if (!in_developer_data) {
       in_developer_data = true;

       %>
	<hr><div style="font-weight: bold; padding-bottom: .5em;">Developer-supplied data:</div>	
       <%
       }
       sample_data = {tags: "developer-data", oneliner: ""}
   }
   %>


	<li class='record' <%= record%>>
	<div class='pt_name'>
	<span class='pt_name'><%= record.demographics.firstname%> <%= record.demographics.lastname%></span>

	</div>

	   <div class='oneliner'>Data: <%
  	        var tags = sample_data.tags.split(",");
	        for (var j = 0; j < tags.length; j++) { %>
			<span class='record_tag'><%=tags[j]%></span>
	      <%}%>
             </div>

	  <div class='oneliner'>Summary:<em><%= sample_data.oneliner%></em></div>

	<div class='gender'>Gender: <%= record.demographics.gender %></div>
	<div class='dob'>DOB: <%= record.demographics.dob %></div>
	<div class='zip'>Zip Code: <%= record.demographics.zipcode %></div>
	</li>
<% } %>
</ul>  
