<div class="results_header">Patient List</div>
<div class="results_sub_header">Click a record to select...</div>

<% if (records.length == 0) { %> No patients found. <% } %>

<ul class='search_results'>
<% for (var i = 0; i < records.length; i++) { %>
<% var record = records[i]; %>
	<li class='record' <%= record%>>
	<div>
	<%= record.demographics.firstname%> <%= record.demographics.lastname%>
	</div>
	<div class='gender'>Gender: <%= record.demographics.gender %></div>
	<div class='dob'>DOB: <%= record.demographics.dob %></div>
	<div class='zip'>Zip Code: <%= record.demographics.zipcode %></div>
	</li>
<% } %>
</ul>  
